

services:
  web:
    build: .
    container_name: stammbaum-api
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - db      
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      ADMIN_DEFAULT_PASSWORD: ${ADMIN_DEFAULT_PASSWORD}
      HMAC_KEY: ${HMAC_KEY}
    volumes:
      - ./backend/:/app/

  db:
    image: public.ecr.aws/docker/library/postgres:17
    container_name: stammbaum-postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT}:5432"


volumes:
  pgdata:
